<div class="pl-72 w-[1100px] mr-4">
  <div class="text-white "> 
    <div class=" justify-between">
        <%= image_tag(@user&.avatar_url.presence || 'notfoundimg.jpg', class: "w-24 h-24 rounded-full mr-4 mt-4") %>
        <h1> <%= @user&.username %></h1>
        <h1> <%= @user&.name%> <%= @user&.secondname%></h1>
        <h1> <%= @user&.biography %></h1>
        <% if current_user != @user %>
          <% if current_user.followed_users.include?(@user) %>
            <%= button_to "Dejar de seguir", unfollow_path(@user.username),method: :delete, data: {turbo_method: :delete}, class: "bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded-full inline-block" %>
          <% else %>
            <%= button_to "Seguir", follow_path(@user.username), data: {turbo_method: :post} , class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" %>
          <% end %>
        <% end %>
    </div>
    <div class="flex justify-between followers mt-2 mb-3">
      <div class="flex justify-start">
        <h2>Publicaciones: </h2>
          <p><%= @user.posts.size %></p>
        </div>
      <div class="flex justify-start">
        <h2>Seguidores:</h2>
        <%= @followers.size %>
        <!--<% @followers.each do |follower| %>
          <p><%= link_to follower.username, user_path(follower) %></p>
        <% end %>-->
      </div>
      <div class="flex justify-end">
        <h2>Siguiendo:</h2>
        <%= @followed_users.count %>
        <!--<% @followed_users.each do |followed| %>
          <p><%= link_to followed.username, user_path(followed) %></p>
        <% end %>-->
      </div>
    </div>
  </div>
  <hr class="mt-6">
  <ul>
    <% @user.posts.each do |post| %>
      <li>
        <div class="flex justify-center w-full border-2 border-slate-500 rounded-lg mt-2">
          <%= link_to post do %>
            <% if post.photo.attached? %>
              <%= image_tag post.photo, width: 700 %>
            <% end %>
          <% end %>
        </div>
        <p class="my-5 font-serif text-white">
          <%= post.title %>
        </p>
        <p class="my-5 font-serif text-white" >
          <%= post.description %>
        </p>
        <hr class="mt-6">
      </li>
    <% end %>
  </ul>
</div>
<div class="w-full text-white lg:w-[400px]">
  <h1>Sugerencias</h1>
  <%= render 'shared/suggestions' %>
</div>