<div class="w-full text-white ">
    <div class=" flex justify-between text-left items-center text-white text-2xl" >
        <% if current_user %>
            <%= image_tag current_user.avatar_url ? current_user.avatar_url : 'notfoundimg.jpg', class: "w-10 h-10 rounded-full " %>
            <%= link_to new_post_path do %>
                <i class="fa-solid fa-plus cursor-pointer "></i>
            <% end %>
            <%= link_to destroy_user_session_path, data:{
            turbo_method: :delete, turbo_confirm: t('common.confirm')} do %>
                <i class="fa-solid fa-right-from-bracket cursor-pointer "></i>
            <% end %>
            
            
        <%end%>
    </div>
    <div class="w-full flex justify-between text-white underline" >
        <% unless current_user %>
            <%= link_to  new_user_session_path do %>
                    <i class="fa-solid fa-right-to-bracket cursor-pointer text-2xl  "></i>
            <%end%>
            <%= link_to t('.Sign_Up'),  new_user_registration_path, class: "text-lg ml-10 "%>
        <% end %>
    </div>
</div>

