<aside class="h-full flex flex-col justify-between items-start ">
    <div>
        <%= link_to  posts_path do %>
            <h1 class="text-2xl hover:text-red-500 font-bold text-teal-400 font-serif "><%= t('app_name')%> 
                <i class="fa-brands fa-instagram"></i>
            </h1>
        <% end %>
    </div>
    
    <% if current_user %>
        <%= render  partial: "search/form", locals: {results: []} %>
    <% end %>
        <%= render 'shared/items_2' %>
        <%= render 'shared/items'%>
    
 </aside >