<div id="<%= dom_id post %>" class="post p-4">
  <div class="flex items-center text-white ">
    <%= link_to user_path(post.user.username) do%>
      <%= image_tag post.user.avatar_url ? post.user.avatar_url : 'notfoundimg.jpg', class: "w-10 h-10 rounded-full mr-4" %>
      <a><%= t('.view_profile', username: post.user.username) %></a>
    <% end %>
  </div>
  <div class="flex items-center justify-between">
    <% if post.owner?(current_user) %>
      <%= link_to  edit_post_path(post) do %>
        <i class="fa-solid fa-pen cursor-pointer my-4 text-white hover:text-blue-500"></i>
      <% end %>
      <%= button_to post_path(post),  method: :delete, data: {turbo_method: :delete} do %>
        <i class="fa-solid text-rigth fa-trash text-white text-2xl hover:text-red-500"></i>
      <% end %>
    <% end %>
  </div>
  <div class="flex justify-center w-full border-2 border-slate-500 rounded-lg">
    <%= link_to post do %>
      <%= image_tag post.photo, width: 700 if post.photo.attached?  %>
    <% end %>
  </div>
  <% unless action_name == "index" %>
    <%= render "likes" %>
    <div class="flex justify-start text-white">
      <i class="fa-regular fa-comment "></i>
      <%= post.comments.count %>
    </div>
  <% end %>
  <p class="my-5 font-serif text-white">
    <%= post.title %>
  </p>
  <p class="my-5 font-serif text-white" >
    <%= post.description %>
  </p>
  <% unless action_name == "index" %>
    <h2>Comentarios</h2>
    <% if post.comments.any? %>
      <% post.comments.each do |comment| %>
        <div class="comment">
          <p><strong><%= comment.user.username %>:</strong> <%= comment.content %></p>
        </div>
      <% end %>
    <% else %>
      <p>No hay comentarios.</p>
    <% end %>
  
    <%= form_with(model: [post, Comment.new], url: post_comments_path(post), method: :post) do |form| %>
      <%= form.text_area :content, placeholder: "Agregar comentario...", class: "w-full" %>
      <%= form.submit "Publicar Comentario" %>
    <% end %>
  <% end %>
  <hr class="mt-6">
</div>