<!DOCTYPE html>
<html>
  <head>
    <title>Instagram</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.1.1/flowbite.min.css" rel="stylesheet" />
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script src="https://kit.fontawesome.com/95d9fd3f91.js" crossorigin="anonymous"></script>
  </head>

  <body class="bg-gray-900 ">
      <%= render 'shared/flash'%>
      <div class="flex justify-between">
        <div class="w-full p-4 border-r border-indigo-600 lg:w-2/12	 max-h-full h-screen fixed   ">
          <%= render 'shared/sidebar'%>
        </div>
        <div class="w-full p-4  lg:w-1/2 overflow-y-auto ml-80">
          <%= yield %>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.1.1/flowbite.min.js"></script>
        </div>
        <div class="w-full text-white lg:w-1/4">
         <h1>Sugerencias</h1>
        </div>
      </div >
  </body>
</html>
