<!DOCTYPE html>
<html>
  <head>
    <title>Instagram</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.1.1/flowbite.min.css" rel="stylesheet" />
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
  </head>

  <body class="bg-gray-900">
      <%= render 'shared/flash'%>
      <div class="grid grid-cols-3 grid-rows-1 ">
        <div class="w-full h-screen ">
          <%= render 'shared/sidebar'%>
        </div>
        <div class="w-full p-4">
          <%= yield %>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.1.1/flowbite.min.js"></script>
        </div>
        <div class="w-full text-white">
         <h1>Sugerencias</h1>
        </div>
      </div >
  </body>
</html>
