<!DOCTYPE html>
<html>
  <head>
    <title>Instagram</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.1.1/flowbite.min.css" rel="stylesheet" />
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script src="https://kit.fontawesome.com/95d9fd3f91.js" crossorigin="anonymous"></script>
  </head>

  <body class="bg-gray-900 ">
    <%= render 'shared/flash'%>
   

    <main class=" flex ">
      <div class=" w-[280px] p-4 border-r border-blue-600 max-h-full h-screen fixed shadow shadow-indigo-500/50 ">
        <%= render 'shared/sidebar'%>
      </div>
       <%= yield %>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.1.1/flowbite.min.js"></script>   
  </body>
</html>
